/* Make the site more accessible by using the OpenDyslexic typeface (https://github.com/antijingoist/opendyslexic) */
@import url("https://milenko.ml/OpenDyslexic.css");
/* trolled */
@import url("https://milenko.ml/ComicSans.css");

/* Site navigation bar */
.navbar-dark {
	/* Black */
	background-color: #121212;
}

/* Card title */
.card-header, .btn.btn-link {
	/* Dark gray */
	background-color: #181818;
	/* Co-developer blue */
	color: #006DFF;
}

/* Card content */
.card {
	/* Lighter gray */
	background-color: #222222;
	/* Left-align to the page */
	border: 0px;
	/* Don't round corners */
	border-radius: 0px;
}

/* Page content */
body {
	/* Black */
	background-color: #121212;
	/* Defined in ComicSans.css */
	font-family: comicsans;
	/* Milenko red */
	color: #E00050;
}

/* The div containing the region selector */
#region_selector {
	margin-top: 10px;
	text-align: center;
}

/* The region checkboxes */
.region_checkbox {
	margin-right: 5px;
}

/* The checkbox labels */
.region_label {
	margin-right: 20px;
}

/* Links */
.underlined-link {
	/* Hathook purple? */
	color: #A040F0;
	text-decoration: underline;
}
.underlined-link:hover {
	/* Darker hathook purple? */
	color: #9030E0;
	text-decoration: underline;
}
